.menu-contrato-gog{

}

.menu-contrato-gog a{
    background-color: #dddddd;
}

.content-contrato-gog{
    border: 3px;
    border-style: solid;
    border-color: #dddddd;
    margin-left: 0.03% !important;
    width: 99.97% !important;
    margin-bottom: 7px;
}