.column-registro {
    padding-left: 55px !important;
    padding-right: 55px !important;
}

#main {
    background: url(../../images/simbolo_medicina.png), url(../../images/white_q_saude.jpg) !important;
    background-repeat: no-repeat, repeat;
    background-size: 100% 100%, auto;
    color: #ffffff;
}

input{
    border: 1px solid #989898 !important;
}

select{
    border: 1px solid #989898 !important;
}

textarea{
    border: 1px solid #989898 !important;
}

.logradouro-cep{
    color: #363636;
}

.bairro-cep{
    color: #363636;
}

.localidade-cep{
    color: #363636;
}

.uf-cep{
    color: #363636;
}

.address-cep{
    float: left;
    margin-left: 7px;
    color: #777777;
    font-size: 14px;
}

.ui-datepicker-title select{
    width: 45%;
    margin-left: 4px;
    margin-right: 4px;
    height: 30px !important;
    min-height: 30px !important;
    margin-top: 3px;
}

#ui-datepicker-div{
    width: 370px !important;
    height: 317px !important;
    text-align: center;
    background-color: #6f6f6f;
    margin-top: 5px;
}

.ui-datepicker-title{
    text-align: center;
    margin-top: 3px;
}

.ui-datepicker-calendar{
    width: 90%;
    margin-left: 5%;
}

.ui-icon-circle-triangle-w{
    margin-left: 5%;
    float: left;
    color: #ffffff;
    background-color: #E67E22;
    padding-right: 3px;
    padding-left: 3px;
}

.ui-icon-circle-triangle-e{
    color: #ffffff;
}

.ui-datepicker-prev{
    background-color: #E67E22;
    margin-bottom: 5px;
}

.ui-datepicker-next{
    background-color: #E67E22;
    margin-left: 227px;
    padding: 3px;
    margin-bottom: 5px;
}

.ui-datepicker-buttonpane{
    margin-top: 13px;
    margin-bottom: 35px;
}

.ui-datepicker-current{
    margin-left: 5%;
    background-color: #E67E22;
    border: none;
    color: white;
}

.ui-datepicker-close{
    margin-right: 5%;
    background-color: #E67E22;
    border: none;
    color: white;
}

.ui-datepicker-header{
    margin-top: 8px;
}

#loading {
    position: absolute; width: 100%; height: 100%; background: url('../../images/spinner.gif') no-repeat center center;
    z-index:88899;
}

#overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 88888;
    background: url('../../images/semitransparent.png');
}

#contact-page{
    padding-top: 7em;
    background-color: #ffffff !important;
    box-shadow: inset 0px 3px 21px rgba(0, 0, 0, 0.77);
    color: #777777;
}

.icon-user{
    color: #777777;
}

.fa-circle{
    font-size: 14px;
}

.fa-circle-o{
    font-size: 14px;
}

#main-contact-form input {
    background: #a7a7a7;
    color: #ffffff;
}

#main-contact-form select {
    background: transparent;
    height: 2.2em;
    color: #777777;
    cursor: pointer;
}

.fa-angle-down.select-fa::before {
    margin-top: 21px;
    margin-left: 20em;
    float: left;
    z-index: 99999;
    color: #0e0e0e;
    position: absolute;
}

#btn-submit-cadastro{
    margin-right: 200px;
    background-color: #bd2026 !important;
    box-shadow: inset 0 0 0 2px #bd2026 !important;
}

#btn-submit-cadastro:hover{
    background-color: #83191d !important;
    box-shadow: inset 0 0 0 2px #83191d !important;
}

#voltar-cliente-tipo-vantagem{
    float:left;
    background-color: #bd2026 !important;
    box-shadow: inset 0 0 0 2px #bd2026 !important;
}

#voltar-cliente-tipo-vantagem:hover{
    background-color: #83191d !important;
    box-shadow: inset 0 0 0 2px #83191d !important;
}

#enviar-contrato{
    float:right;
    background-color: #bd2026 !important;
    box-shadow: inset 0 0 0 2px #bd2026 !important;
}

#enviar-contrato:hover{
    background-color: #83191d !important;
    box-shadow: inset 0 0 0 2px #83191d !important;
}

#btn-fim{
    float:right;
    background-color: #bd2026 !important;
    box-shadow: inset 0 0 0 2px #bd2026 !important;
}

#btn-fim:hover{
    background-color: #83191d !important;
    box-shadow: inset 0 0 0 2px #83191d !important;
}

#voltar-dependentes{
    float:left;
    background-color: #bd2026 !important;
    box-shadow: inset 0 0 0 2px #bd2026 !important;
}

#voltar-dependentes:hover{
    background-color: #83191d !important;
    box-shadow: inset 0 0 0 2px #83191d !important;
}

.ui-datepicker select.ui-datepicker-month{
    width: 45%;
    float: left;
    margin-left: 2.5%;
}

.ui-datepicker select.ui-datepicker-year{
    width: 45%;
    float: left;
    margin-left: 5%;
}

.ui-datepicker .ui-datepicker-next {
    height: 1.7em;
    margin-top: 3px;
}

.ui-datepicker .ui-datepicker-prev {
    height: 1.7em;
    margin-top: 3px;
}

.ui-datepicker table {
    width: 100%;
    font-size: 0.6em;
    border-collapse: collapse;
    margin: 0 0 1em;
}

.ui-datepicker .ui-datepicker-buttonpane button {
    font-size: 10px;
}

.ui-widget-content {
    border: 0px solid #dddddd;
}

.ui-datepicker-calendar thead tr th{
    color: #777777 !important;
}

.ui-datepicker th {
    padding: 0.1em 0.1em;
}

#check-contract b{
    color: #575757;
}

#price-vantagem div h4{
    color: #575757;
    font-size: 0.87em;
}